body{
    background-color:#a7a5a5;
}
hr{
    /* background-color: black; */
    /* border-style: none; */
    /* border-style: solid; */
    /* height: 2px; */
    /* width: 30%; */
    /* border-style: none; */
    border-top-style: dotted;
    /* border-color: black; */
    border-width: 3px;
}
h1{
    color: brown ;
}
h3{
    color:crimson;
}